<head>
    <title>Aptitude</title>
    <!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons" rel="stylesheet" type="text/css">
    <!--<script type="text/javascript" src="/lib/custom.js"></script>
    <script type="text/javascript" src="/lib/nprogress.js"></script>
     <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/af.js"></script>
</head>

<body>
    <div id="root">
    </div>
</body>