#circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    padding-top: 26px;
    margin-bottom: 83px;
    margin-top: 12px;
}